Footer-App-Script/n8n-ftp-to-drive-workflow.json
{
  "name": "Reynolds FTP to Google Drive Sync",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "your-instance-id"
  },
  "tags": [
    {
      "createdAt": "2025-10-14T00:00:00.000Z",
      "updatedAt": "2025-10-14T00:00:00.000Z",
      "id": "1",
      "name": "FTP Sync"
    },
    {
      "createdAt": "2025-10-14T00:00:00.000Z",
      "updatedAt": "2025-10-14T00:00:00.000Z",
      "id": "2",
      "name": "Google Drive"
    }
  ],
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      },
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300],
      "notes": "🕐 TRIGGER: Runs this workflow every 1 hour\n\nAdjust frequency here:\n- Every 30 min: Change to 0.5\n- Every 2 hours: Change to 2\n- Daily at 2 AM: Use cron: 0 2 * * *\n\nNote: 720 executions/month (hourly) fits within n8n Cloud basic plan (2,500/month)"
    },
    {
      "parameters": {
        "protocol": "ftp",
        "host": "={{$env.FTP_HOST}}",
        "port": 21,
        "username": "={{$env.FTP_USER}}",
        "password": "={{$env.FTP_PASS}}",
        "operation": "list",
        "path": "/inventory/"
      },
      "name": "FTP - List Files",
      "type": "n8n-nodes-base.ftp",
      "typeVersion": 1,
      "position": [450, 300],
      "notes": "📁 LIST FILES: Gets all files from Reynolds FTP server\n\nServer: Reynolds FTP (credentials from env variables)\nPath: /inventory/ (adjust if your files are elsewhere)\nPort: 21 (standard FTP port)\n\nEnvironment Variables Required:\n- FTP_HOST (e.g., ftp.reynolds.com)\n- FTP_USER (your Reynolds username)\n- FTP_PASS (your Reynolds password)\n\nReturns: Array of file objects with names, sizes, dates"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.name}}",
              "operation": "endsWith",
              "value2": "U.csv"
            }
          ]
        }
      },
      "name": "Filter CSV Files",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300],
      "notes": "🔍 FILTER: Only process inventory CSV files\n\nCondition: Filename ends with 'U.csv'\n\nMatches files like:\n✅ SWICKARD12U.csv (Acura Thousand Oaks)\n✅ AUDIOAKL01U.csv (Audi Oakland)\n✅ AUDIPALO01U.csv (Audi Palo Alto)\n\nIgnores:\n❌ SWICKARD12N.csv (New vehicles)\n❌ other.txt (non-CSV files)\n\nResult: Only 'Used' vehicle inventory files continue to next node"
    },
    {
      "parameters": {
        "protocol": "ftp",
        "host": "={{$env.FTP_HOST}}",
        "port": 21,
        "username": "={{$env.FTP_USER}}",
        "password": "={{$env.FTP_PASS}}",
        "operation": "download",
        "path": "={{'/inventory/' + $json.name}}"
      },
      "name": "FTP - Download File",
      "type": "n8n-nodes-base.ftp",
      "typeVersion": 1,
      "position": [850, 300],
      "notes": "⬇️ DOWNLOAD: Gets each CSV file from FTP\n\nOperation: Download (not just list)\nPath: Dynamically built from filename\n  Example: /inventory/SWICKARD12U.csv\n\nFile Size: Each CSV ~50-500KB\nExpected Files: ~30 dealerships\nTotal Download: ~5-15MB per run\n\nNote: This runs for EACH file that passed the filter (loop behavior)\n\nData Format: CSV with vehicle inventory columns"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "upload",
        "folderId": {
          "__rl": true,
          "value": "={{$env.DRIVE_FOLDER_ID}}",
          "mode": "id"
        },
        "name": "={{$json.name}}",
        "options": {
          "updateRevisionOnUpload": true
        }
      },
      "name": "Google Drive - Upload",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [1050, 300],
      "notes": "☁️ UPLOAD: Saves CSV to Google Drive\n\nAuthentication: OAuth2 (click 'Connect my account')\nFolder: From DRIVE_FOLDER_ID environment variable\nFilename: Keeps original name (SWICKARD12U.csv)\n\nImportant Setting:\n✅ updateRevisionOnUpload: true\n  → Overwrites old file instead of creating duplicates\n  → Apps Script always reads latest version\n\nPermissions: Make sure n8n Google account has write access to the folder!\n\nResult: CSV files available for Apps Script to read"
    },
    {
      "parameters": {
        "content": "=Synced {{$json.name}} to Google Drive at {{$now}}",
        "options": {}
      },
      "name": "Log Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [1250, 300],
      "notes": "📝 LOG: Records successful sync for monitoring\n\nLog Message Format:\n  'Synced SWICKARD12U.csv to Google Drive at 2025-10-14T15:30:00Z'\n\nUse Case:\n- Track which files were synced\n- Monitor sync timing\n- Debug if files are missing\n\nView Logs:\n  n8n → Executions → Click on a run → See output\n\nOptional: Can add error notifications, Slack alerts, or email reports here"
    },
    {
      "parameters": {
        "content": "## 🚀 Reynolds FTP → Google Drive Sync Workflow\n\n**Purpose:** Automatically sync vehicle inventory CSV files from Reynolds FTP to Google Drive every hour, making them accessible to Google Apps Script.\n\n**Flow:**\n1. ⏰ **Schedule Trigger** - Runs hourly\n2. 📁 **FTP List** - Gets all files from /inventory/\n3. 🔍 **Filter** - Only processes *U.csv files (Used inventory)\n4. ⬇️ **FTP Download** - Downloads each CSV\n5. ☁️ **Drive Upload** - Saves to Google Drive (overwrites old versions)\n6. 📝 **Log** - Records success for monitoring\n\n**Expected Result:**\n~30 CSV files synced hourly to Drive\n→ Apps Script reads latest data\n→ Customer.io collections updated\n\n**Setup Required:**\n1. Environment Variables (Settings → Variables):\n   - FTP_HOST\n   - FTP_USER\n   - FTP_PASS\n   - DRIVE_FOLDER_ID\n\n2. Google Drive OAuth2:\n   - Click 'Google Drive - Upload' node\n   - Connect your Google account\n\n3. Activate Workflow:\n   - Toggle 'Active' switch (top right)\n\n**Monitoring:**\n- Check Executions tab for run history\n- Each file shows up as separate item in logs\n- Failed uploads will show errors\n\n**Cost:** ~720 executions/month (hourly)\nFits within n8n Cloud basic plan (2,500/month)\n\n📚 Full docs: See n8n-setup-guide.md",
        "height": 600,
        "width": 450
      },
      "name": "Workflow Documentation",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [250, -100]
    },
    {
      "parameters": {
        "content": "🕐 **TRIGGER**\nRuns every 1 hour\n\nAdjust frequency:\n• 30 min: 0.5\n• 2 hours: 2\n• Daily 2AM: cron\n\n720 runs/month",
        "height": 160,
        "width": 180
      },
      "name": "Note - Schedule",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [220, 180],
      "id": "note-schedule"
    },
    {
      "parameters": {
        "content": "📁 **FTP LIST**\nGets all files from\n/inventory/\n\nCredentials from:\n• FTP_HOST\n• FTP_USER  \n• FTP_PASS\n\nPort 21 (standard)",
        "height": 180,
        "width": 180
      },
      "name": "Note - FTP List",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [420, 180],
      "id": "note-ftp-list"
    },
    {
      "parameters": {
        "content": "🔍 **FILTER**\nOnly *U.csv files\n\n✅ SWICKARD12U.csv\n✅ AUDIOAKL01U.csv\n\n❌ SWICKARD12N.csv\n\nUsed vehicles only",
        "height": 180,
        "width": 180
      },
      "name": "Note - Filter",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [620, 180],
      "id": "note-filter"
    },
    {
      "parameters": {
        "content": "⬇️ **DOWNLOAD**\nGets each CSV\n\n~30 dealerships\n50-500KB each\n\nLoops for each\nfiltered file",
        "height": 160,
        "width": 180
      },
      "name": "Note - Download",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [820, 180],
      "id": "note-download"
    },
    {
      "parameters": {
        "content": "☁️ **UPLOAD**\nSaves to Drive\n\nOAuth2 auth\nFolder: DRIVE_FOLDER_ID\n\nOverwrites old files\n(updateRevision=true)",
        "height": 180,
        "width": 180
      },
      "name": "Note - Drive Upload",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [1020, 180],
      "id": "note-drive"
    },
    {
      "parameters": {
        "content": "📝 **LOG**\nTracks success\n\nView in:\nExecutions tab\n\nOptional: Add\nSlack/email alerts",
        "height": 160,
        "width": 180
      },
      "name": "Note - Log",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [1220, 180],
      "id": "note-log"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "FTP - List Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FTP - List Files": {
      "main": [
        [
          {
            "node": "Filter CSV Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter CSV Files": {
      "main": [
        [
          {
            "node": "FTP - Download File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FTP - Download File": {
      "main": [
        [
          {
            "node": "Google Drive - Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive - Upload": {
      "main": [
        [
          {
            "node": "Log Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "saveExecutionProgress": true,
    "saveManualExecutions": true
  }
}
